


/*
  --space-unit: 1em;
  --space-xs:   calc(0.5 * var(--space-unit));
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1.25 * var(--space-unit));
  --space-lg:   calc(2 * var(--space-unit));
  --space-xl:   calc(3.25 * var(--space-unit));
*/
@use '../abstracts/' as *;


$sizes: 0, $size-1, $size-2, $size-3, $size-4, $size-5;

@each $size in $sizes {
    $i: index($sizes, $size) - 1;
    .m-#{$i} {
        margin: $size;
    }
    .mt-#{$i} {
        margin-top: $size;
    }
    .mb-#{$i} {
        margin-bottom: $size;
    }
    .mx-#{$i} {
        margin-left: $size;
        margin-right: $size;
    }
    .my-#{$i} {
        margin-top: $size;
        margin-bottom: $size;
    }
    .ml-#{$i} {
      margin-left: auto;
    }
}

@each $size in $sizes {
    $i: index($sizes, $size) - 1;
    .p-#{$i} {
        padding: $size;
    }
    .pt-#{$i} {
        padding-top: $size;
    }
    .pb-#{$i} {
        padding-bottom: $size;
    }
    .px-#{$i} {
        padding-left: $size;
        padding-right: $size;
    }
    .py-#{$i} {
        padding-top: $size;
        padding-bottom: $size;
    }
}