

$clr-white: #ffffff;
$clr-black: #000000;

$clr-gray-100: #F5EEFC;
$clr-gray-200: #E9E9E9;
$clr-gray-400: #A8BACA;
$clr-purple-200: #7E39C7;
$clr-purple-500: #4E2579;

$red:  red;
$green: green;

$primary: $clr-purple-200;
$bg-body: $clr-gray-100;


$danger: $red;
$success: $green;


$box-shadow-1: 0px 8px 24px rgba(46, 7, 52, 0.44);
$box-shadow-2: 0px 4px 8px rgba(0, 0, 0, 0.25);
