
@use 'colors' as *;
@use 'typography' as *;


$size-1: 0.25rem;
$size-2: 0.5rem;  //8px
$size-3: 0.75rem; //12px
$size-4: 1rem; //16px
$size-5: 1.25rem; //20px
$size-6: 1.5rem; //24 px
$size-7: 1.75rem;
$size-8: 2rem; //32px
$size-9: 2.5rem; 
$size-10: 3rem;
$size-11: 4rem;
$size-12: 5rem;
$size-13: 6rem;
$size-14: 8rem;
$size-15: 10rem;


$border-radius-1: $size-1;  //4px
$border-radius-2: $size-2;  //8px
$border-radius-3: $size-5;  //20px



//buttons

$btn-font-size: $size-4;
$btn-border-radius: $border-radius-2;
$btn-padding-default: $size-2 $size-8;  //8px 32px
$btn-padding-sm: $size-1 $size-3;      //4px 12px
$btn-box-shadow: $box-shadow-2;
$btn-font-weight: $fw-700;


//inputs

$input-bg-clr: $clr-white;
$input-text-clr: $clr-gray-400;
$input-padding: $size-2 $size-6;
$input-font-size: $size-4;
$input-border-radius: $border-radius-1;

//cards

$card-bg-clr: $clr-white;
$card-padding: $size-8 $size-10;
$card-border-radius: $border-radius-3;
$card-box-shadow: $box-shadow-1;

//header

$site-header-aligment: center;
$site-header-x-padding: $size-8;
$site-header-y-padding: $size-8;

